<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>

<div id="#top"></div>

<nav class="navbar navbar-expand-lg navbar-inverse bg-primary absolute top-0 left-auto right-auto w-100">
  <div class="container">

      <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

      <!-- <a class="navbar-brand" href="#x"><img src="assets/images/logo-white.png" alt=""></a> -->
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggle" aria-controls="navbar-toggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar top-bar"></span>
          <span class="icon-bar middle-bar"></span>
          <span class="icon-bar bottom-bar"></span>
          <span class="sr-only">Toggle navigation</span>
      </button><!-- / navbar-toggler -->

      <div class="collapse navbar-collapse" id="navbar-toggle">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link" href="#TODO"><i class="bi bi-file-earmark-text mr-5 fs-14 va-middle"></i> <span class="va-middle">Docs</span></a>
              </li><!-- / nav-link -->
              
              <!--<li class="nav-item">
                  <a class="nav-link" href="#x"><i class="bi bi-file-earmark-text mr-5 fs-14 va-middle"></i> <span class="va-middle">Pages</span></a>
              </li>--><!-- / nav-link -->
              <!--               
              <li class="nav-item">
                  <a class="nav-link opc-100" href=""><i class="bi bi-person-circle mr-5 fs-14 va-middle bl-1 border-white pl-50"></i> <span class="va-middle">Sign In</span></a>
              </li>--><!-- / nav-item -->
          </ul><!-- / navbar-nav -->
          <!-- 
          <ul class="navbar-button p-0 m-0 ml-5">
              <li class="nav-item">
                  <a href="#x" class="btn btn-sm btn-white"><i class="bi bi-life-preserver fs-14 mr-5 text-primary va-middle"></i> <span>Support</span></a>
              </li>
          </ul>
          -->
      </div><!-- / navbar-collapse -->
  </div><!-- / container-fluid -->
</nav><!-- / navbar -->
