
  <div class="col-lg-4 col-xl-3 sidebar">
    <div class="widget m-y-0 sticky-top top-25">
        <h6 class="widget-title">HP 95LX Development</h6>
        <ul class="list-unstyled mb-0">
            <li class="mb-20"><i class="bi bi-file-earmark-text fs-18 va-middle mr-10 text-primary opc-75"></i><a href="https://github.com/95lx/hp95dev#readme" class="va-middle text-link">HP 95LX SDK</a></li>
            <li class="mb-20"><i class="bi bi-file-earmark-text fs-18 va-middle mr-10 text-primary opc-75"></i><a href="https://github.com/palmtops/wiki/wiki/MIX-Power-C" class="va-middle text-link">MIX Power C</a></li>
        </ul>

        <div class="mb-15">&nbsp;</div>

        <h6 class="widget-title">HP 200LX Development</h6>
        <ul class="list-unstyled mb-0">
          <li class="mb-20"><i class="bi bi-file-earmark-text fs-18 va-middle mr-10 text-primary opc-75"></i><a href="#TODO" class="va-middle text-link">EXM Tools</a></li>
          <li class="mb-20"><i class="bi bi-file-earmark-text fs-18 va-middle mr-10 text-primary opc-75"></i><a href="#TODO" class="va-middle text-link">PAL</a></li>
      </ul>
    </div><!-- / widget -->
</div><!-- / column -->
