<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="main-container">
        <div class="container">
          {{ content }}
        </div><!-- / container -->
    </div><!-- / main-container -->

    {%- include footer.html -%}

    <!-- Core JavaScript -->
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/theme.js"></script>

  </body>

</html>
